@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

@tailwind base;
@tailwind components;
@tailwind utilities;

.Bebas {
  font-family: Bebas Neue;
}

.canvas {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #000000 0%, #1de26c 100%);
  position: relative;
  overflow: hidden;
}
.canvas2 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #1de26c 0%, #000000 100%);
  position: relative;
  overflow: hidden;
}
.bubble {
  display: block;
  border-radius: 100%;
  opacity: 0.8;
  position: absolute;
}
.bubble:nth-child(1) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 32px;
  height: 32px;
  left: 68vw;
  bottom: 21vh;
  -webkit-animation: move1 infinite 9s;
  animation: move1 infinite 9s;
}
@-webkit-keyframes move1 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 73vh;
    transform: translate(120px, 0);
    opacity: 0;
  }
}
@keyframes move1 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 73vh;
    transform: translate(120px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(2) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 23px;
  height: 23px;
  left: 9vw;
  bottom: 90vh;
  -webkit-animation: move2 infinite 13s;
  animation: move2 infinite 13s;
}
@-webkit-keyframes move2 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20vh;
    transform: translate(45px, 0);
    opacity: 0;
  }
}
@keyframes move2 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20vh;
    transform: translate(45px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(3) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 84px;
  height: 84px;
  left: 71vw;
  bottom: 50vh;
  -webkit-animation: move3 infinite 12s;
  animation: move3 infinite 12s;
}
@-webkit-keyframes move3 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 6vh;
    transform: translate(46px, 0);
    opacity: 0;
  }
}
@keyframes move3 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 6vh;
    transform: translate(46px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(4) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 64px;
  height: 64px;
  left: 79vw;
  bottom: 39vh;
  -webkit-animation: move4 infinite 9s;
  animation: move4 infinite 9s;
}
@-webkit-keyframes move4 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 88vh;
    transform: translate(-63px, 0);
    opacity: 0;
  }
}
@keyframes move4 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 88vh;
    transform: translate(-63px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(5) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 50px;
  height: 50px;
  left: 86vw;
  bottom: 11vh;
  -webkit-animation: move5 infinite 12s;
  animation: move5 infinite 12s;
}
@-webkit-keyframes move5 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 24vh;
    transform: translate(14px, 0);
    opacity: 0;
  }
}
@keyframes move5 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 24vh;
    transform: translate(14px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(6) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 100px;
  height: 100px;
  left: 92vw;
  bottom: 79vh;
  -webkit-animation: move6 infinite 5s;
  animation: move6 infinite 5s;
}
@-webkit-keyframes move6 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(44px, 0);
    opacity: 0;
  }
}
@keyframes move6 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(44px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(7) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 5px;
  height: 5px;
  left: 26vw;
  bottom: 20vh;
  -webkit-animation: move7 infinite 4s;
  animation: move7 infinite 4s;
}
@-webkit-keyframes move7 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 41vh;
    transform: translate(-88px, 0);
    opacity: 0;
  }
}
@keyframes move7 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 41vh;
    transform: translate(-88px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(8) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 50px;
  height: 50px;
  left: 76vw;
  bottom: 12vh;
  -webkit-animation: move8 infinite 14s;
  animation: move8 infinite 14s;
}
@-webkit-keyframes move8 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 1vh;
    transform: translate(-79px, 0);
    opacity: 0;
  }
}
@keyframes move8 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 1vh;
    transform: translate(-79px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(9) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 32px;
  height: 32px;
  left: 100vw;
  bottom: 96vh;
  -webkit-animation: move9 infinite 3s;
  animation: move9 infinite 3s;
}
@-webkit-keyframes move9 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 30vh;
    transform: translate(75px, 0);
    opacity: 0;
  }
}
@keyframes move9 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 30vh;
    transform: translate(75px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(10) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 45px;
  height: 45px;
  left: 4vw;
  bottom: 31vh;
  -webkit-animation: move10 infinite 12s;
  animation: move10 infinite 12s;
}
@-webkit-keyframes move10 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(11px, 0);
    opacity: 0;
  }
}
@keyframes move10 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(11px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(11) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 14px;
  height: 14px;
  left: 100vw;
  bottom: 59vh;
  -webkit-animation: move11 infinite 15s;
  animation: move11 infinite 15s;
}
@-webkit-keyframes move11 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 35vh;
    transform: translate(129px, 0);
    opacity: 0;
  }
}
@keyframes move11 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 35vh;
    transform: translate(129px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(12) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 19px;
  height: 19px;
  left: 82vw;
  bottom: 2vh;
  -webkit-animation: move12 infinite 15s;
  animation: move12 infinite 15s;
}
@-webkit-keyframes move12 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 33vh;
    transform: translate(91px, 0);
    opacity: 0;
  }
}
@keyframes move12 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 33vh;
    transform: translate(91px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(13) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 51px;
  height: 51px;
  left: 72vw;
  bottom: 39vh;
  -webkit-animation: move13 infinite 11s;
  animation: move13 infinite 11s;
}
@-webkit-keyframes move13 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 73vh;
    transform: translate(-38px, 0);
    opacity: 0;
  }
}
@keyframes move13 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 73vh;
    transform: translate(-38px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(14) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 46px;
  height: 46px;
  left: 59vw;
  bottom: 41vh;
  -webkit-animation: move14 infinite 8s;
  animation: move14 infinite 8s;
}
@-webkit-keyframes move14 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 61vh;
    transform: translate(138px, 0);
    opacity: 0;
  }
}
@keyframes move14 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 61vh;
    transform: translate(138px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(15) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 11px;
  height: 11px;
  left: 24vw;
  bottom: 5vh;
  -webkit-animation: move15 infinite 8s;
  animation: move15 infinite 8s;
}
@-webkit-keyframes move15 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 39vh;
    transform: translate(177px, 0);
    opacity: 0;
  }
}
@keyframes move15 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 39vh;
    transform: translate(177px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(16) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 76px;
  height: 76px;
  left: 72vw;
  bottom: 11vh;
  -webkit-animation: move16 infinite 7s;
  animation: move16 infinite 7s;
}
@-webkit-keyframes move16 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 79vh;
    transform: translate(-87px, 0);
    opacity: 0;
  }
}
@keyframes move16 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 79vh;
    transform: translate(-87px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(17) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 93px;
  height: 93px;
  left: 9vw;
  bottom: 51vh;
  -webkit-animation: move17 infinite 9s;
  animation: move17 infinite 9s;
}
@-webkit-keyframes move17 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 58vh;
    transform: translate(163px, 0);
    opacity: 0;
  }
}
@keyframes move17 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 58vh;
    transform: translate(163px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(18) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 53px;
  height: 53px;
  left: 80vw;
  bottom: 81vh;
  -webkit-animation: move18 infinite 8s;
  animation: move18 infinite 8s;
}
@-webkit-keyframes move18 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(177px, 0);
    opacity: 0;
  }
}
@keyframes move18 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(177px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(19) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 98px;
  height: 98px;
  left: 33vw;
  bottom: 64vh;
  -webkit-animation: move19 infinite 13s;
  animation: move19 infinite 13s;
}
@-webkit-keyframes move19 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 43vh;
    transform: translate(55px, 0);
    opacity: 0;
  }
}
@keyframes move19 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 43vh;
    transform: translate(55px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(20) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 59px;
  height: 59px;
  left: 86vw;
  bottom: 76vh;
  -webkit-animation: move20 infinite 10s;
  animation: move20 infinite 10s;
}
@-webkit-keyframes move20 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 42vh;
    transform: translate(116px, 0);
    opacity: 0;
  }
}
@keyframes move20 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 42vh;
    transform: translate(116px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(21) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 10px;
  height: 10px;
  left: 98vw;
  bottom: 54vh;
  -webkit-animation: move21 infinite 13s;
  animation: move21 infinite 13s;
}
@-webkit-keyframes move21 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 47vh;
    transform: translate(-98px, 0);
    opacity: 0;
  }
}
@keyframes move21 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 47vh;
    transform: translate(-98px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(22) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 26px;
  height: 26px;
  left: 61vw;
  bottom: 53vh;
  -webkit-animation: move22 infinite 12s;
  animation: move22 infinite 12s;
}
@-webkit-keyframes move22 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 64vh;
    transform: translate(65px, 0);
    opacity: 0;
  }
}
@keyframes move22 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 64vh;
    transform: translate(65px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(23) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 16px;
  height: 16px;
  left: 92vw;
  bottom: 80vh;
  -webkit-animation: move23 infinite 13s;
  animation: move23 infinite 13s;
}
@-webkit-keyframes move23 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 55vh;
    transform: translate(137px, 0);
    opacity: 0;
  }
}
@keyframes move23 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 55vh;
    transform: translate(137px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(24) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 62px;
  height: 62px;
  left: 17vw;
  bottom: 76vh;
  -webkit-animation: move24 infinite 4s;
  animation: move24 infinite 4s;
}
@-webkit-keyframes move24 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 57vh;
    transform: translate(22px, 0);
    opacity: 0;
  }
}
@keyframes move24 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 57vh;
    transform: translate(22px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(25) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 25px;
  height: 25px;
  left: 85vw;
  bottom: 26vh;
  -webkit-animation: move25 infinite 10s;
  animation: move25 infinite 10s;
}
@-webkit-keyframes move25 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 43vh;
    transform: translate(-98px, 0);
    opacity: 0;
  }
}
@keyframes move25 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 43vh;
    transform: translate(-98px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(26) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 75px;
  height: 75px;
  left: 85vw;
  bottom: 8vh;
  -webkit-animation: move26 infinite 13s;
  animation: move26 infinite 13s;
}
@-webkit-keyframes move26 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 61vh;
    transform: translate(83px, 0);
    opacity: 0;
  }
}
@keyframes move26 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 61vh;
    transform: translate(83px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(27) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 51px;
  height: 51px;
  left: 60vw;
  bottom: 39vh;
  -webkit-animation: move27 infinite 12s;
  animation: move27 infinite 12s;
}
@-webkit-keyframes move27 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 85vh;
    transform: translate(101px, 0);
    opacity: 0;
  }
}
@keyframes move27 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 85vh;
    transform: translate(101px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(28) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 41px;
  height: 41px;
  left: 38vw;
  bottom: 17vh;
  -webkit-animation: move28 infinite 13s;
  animation: move28 infinite 13s;
}
@-webkit-keyframes move28 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 26vh;
    transform: translate(-98px, 0);
    opacity: 0;
  }
}
@keyframes move28 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 26vh;
    transform: translate(-98px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(29) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 82px;
  height: 82px;
  left: 52vw;
  bottom: 4vh;
  -webkit-animation: move29 infinite 12s;
  animation: move29 infinite 12s;
}
@-webkit-keyframes move29 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 99vh;
    transform: translate(-24px, 0);
    opacity: 0;
  }
}
@keyframes move29 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 99vh;
    transform: translate(-24px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(30) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 88px;
  height: 88px;
  left: 14vw;
  bottom: 71vh;
  -webkit-animation: move30 infinite 11s;
  animation: move30 infinite 11s;
}
@-webkit-keyframes move30 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 29vh;
    transform: translate(-26px, 0);
    opacity: 0;
  }
}
@keyframes move30 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 29vh;
    transform: translate(-26px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(31) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 30px;
  height: 30px;
  left: 69vw;
  bottom: 68vh;
  -webkit-animation: move31 infinite 10s;
  animation: move31 infinite 10s;
}
@-webkit-keyframes move31 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 43vh;
    transform: translate(-28px, 0);
    opacity: 0;
  }
}
@keyframes move31 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 43vh;
    transform: translate(-28px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(32) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 29px;
  height: 29px;
  left: 66vw;
  bottom: 7vh;
  -webkit-animation: move32 infinite 5s;
  animation: move32 infinite 5s;
}
@-webkit-keyframes move32 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 100vh;
    transform: translate(145px, 0);
    opacity: 0;
  }
}
@keyframes move32 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 100vh;
    transform: translate(145px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(33) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 98px;
  height: 98px;
  left: 21vw;
  bottom: 80vh;
  -webkit-animation: move33 infinite 12s;
  animation: move33 infinite 12s;
}
@-webkit-keyframes move33 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 40vh;
    transform: translate(-19px, 0);
    opacity: 0;
  }
}
@keyframes move33 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 40vh;
    transform: translate(-19px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(34) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 63px;
  height: 63px;
  left: 42vw;
  bottom: 46vh;
  -webkit-animation: move34 infinite 3s;
  animation: move34 infinite 3s;
}
@-webkit-keyframes move34 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(-70px, 0);
    opacity: 0;
  }
}
@keyframes move34 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 53vh;
    transform: translate(-70px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(35) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 32px;
  height: 32px;
  left: 23vw;
  bottom: 51vh;
  -webkit-animation: move35 infinite 6s;
  animation: move35 infinite 6s;
}
@-webkit-keyframes move35 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 33vh;
    transform: translate(9px, 0);
    opacity: 0;
  }
}
@keyframes move35 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 33vh;
    transform: translate(9px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(36) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 96px;
  height: 96px;
  left: 50vw;
  bottom: 76vh;
  -webkit-animation: move36 infinite 7s;
  animation: move36 infinite 7s;
}
@-webkit-keyframes move36 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 11vh;
    transform: translate(-22px, 0);
    opacity: 0;
  }
}
@keyframes move36 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 11vh;
    transform: translate(-22px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(37) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 68px;
  height: 68px;
  left: 15vw;
  bottom: 44vh;
  -webkit-animation: move37 infinite 4s;
  animation: move37 infinite 4s;
}
@-webkit-keyframes move37 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 93vh;
    transform: translate(187px, 0);
    opacity: 0;
  }
}
@keyframes move37 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 93vh;
    transform: translate(187px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(38) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 45px;
  height: 45px;
  left: 55vw;
  bottom: 85vh;
  -webkit-animation: move38 infinite 10s;
  animation: move38 infinite 10s;
}
@-webkit-keyframes move38 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 70vh;
    transform: translate(75px, 0);
    opacity: 0;
  }
}
@keyframes move38 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 70vh;
    transform: translate(75px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(39) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 6px;
  height: 6px;
  left: 31vw;
  bottom: 71vh;
  -webkit-animation: move39 infinite 8s;
  animation: move39 infinite 8s;
}
@-webkit-keyframes move39 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 67vh;
    transform: translate(-72px, 0);
    opacity: 0;
  }
}
@keyframes move39 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 67vh;
    transform: translate(-72px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(40) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 33px;
  height: 33px;
  left: 59vw;
  bottom: 26vh;
  -webkit-animation: move40 infinite 11s;
  animation: move40 infinite 11s;
}
@-webkit-keyframes move40 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 13vh;
    transform: translate(42px, 0);
    opacity: 0;
  }
}
@keyframes move40 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 13vh;
    transform: translate(42px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(41) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 17px;
  height: 17px;
  left: 85vw;
  bottom: 71vh;
  -webkit-animation: move41 infinite 9s;
  animation: move41 infinite 9s;
}
@-webkit-keyframes move41 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 85vh;
    transform: translate(191px, 0);
    opacity: 0;
  }
}
@keyframes move41 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 85vh;
    transform: translate(191px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(42) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 20px;
  height: 20px;
  left: 96vw;
  bottom: 21vh;
  -webkit-animation: move42 infinite 7s;
  animation: move42 infinite 7s;
}
@-webkit-keyframes move42 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 12vh;
    transform: translate(161px, 0);
    opacity: 0;
  }
}
@keyframes move42 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 12vh;
    transform: translate(161px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(43) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 44px;
  height: 44px;
  left: 62vw;
  bottom: 2vh;
  -webkit-animation: move43 infinite 10s;
  animation: move43 infinite 10s;
}
@-webkit-keyframes move43 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 74vh;
    transform: translate(136px, 0);
    opacity: 0;
  }
}
@keyframes move43 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 74vh;
    transform: translate(136px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(44) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 11px;
  height: 11px;
  left: 90vw;
  bottom: 20vh;
  -webkit-animation: move44 infinite 15s;
  animation: move44 infinite 15s;
}
@-webkit-keyframes move44 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 37vh;
    transform: translate(-69px, 0);
    opacity: 0;
  }
}
@keyframes move44 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 37vh;
    transform: translate(-69px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(45) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 34px;
  height: 34px;
  left: 2vw;
  bottom: 41vh;
  -webkit-animation: move45 infinite 15s;
  animation: move45 infinite 15s;
}
@-webkit-keyframes move45 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 82vh;
    transform: translate(-49px, 0);
    opacity: 0;
  }
}
@keyframes move45 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 82vh;
    transform: translate(-49px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(46) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 81px;
  height: 81px;
  left: 83vw;
  bottom: 15vh;
  -webkit-animation: move46 infinite 11s;
  animation: move46 infinite 11s;
}
@-webkit-keyframes move46 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20vh;
    transform: translate(30px, 0);
    opacity: 0;
  }
}
@keyframes move46 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20vh;
    transform: translate(30px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(47) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 13px;
  height: 13px;
  left: 89vw;
  bottom: 73vh;
  -webkit-animation: move47 infinite 12s;
  animation: move47 infinite 12s;
}
@-webkit-keyframes move47 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20vh;
    transform: translate(199px, 0);
    opacity: 0;
  }
}
@keyframes move47 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20vh;
    transform: translate(199px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(48) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 82px;
  height: 82px;
  left: 18vw;
  bottom: 17vh;
  -webkit-animation: move48 infinite 13s;
  animation: move48 infinite 13s;
}
@-webkit-keyframes move48 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 34vh;
    transform: translate(-39px, 0);
    opacity: 0;
  }
}
@keyframes move48 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 34vh;
    transform: translate(-39px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(49) {
  background: radial-gradient(
    ellipse at center,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 27px;
  height: 27px;
  left: 92vw;
  bottom: 63vh;
  -webkit-animation: move49 infinite 10s;
  animation: move49 infinite 10s;
}
@-webkit-keyframes move49 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 21vh;
    transform: translate(-24px, 0);
    opacity: 0;
  }
}
@keyframes move49 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 21vh;
    transform: translate(-24px, 0);
    opacity: 0;
  }
}
.bubble:nth-child(50) {
  background: radial-gradient(
    ellipse at top right,
    #b8c6c6 0%,
    #acef33 46%,
    #20628c 100%
  );
  width: 84px;
  height: 84px;
  left: 100vw;
  bottom: 60vh;
  -webkit-animation: move50 infinite 15s;
  animation: move50 infinite 15s;
}
@-webkit-keyframes move50 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 84vh;
    transform: translate(148px, 0);
    opacity: 0;
  }
}
@keyframes move50 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 84vh;
    transform: translate(148px, 0);
    opacity: 0;
  }
}

/*
------------------------------------
*/
